@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    @apply bg-[#0060A6]
}

.secondary-color {
    @apply bg-[#AB2B6E]
}

.third-color {
    @apply bg-sky-400
}



.select2-dropdown {
    @apply bg-blue-500 border-black border-spacing-1;
}

.select2-search {
    @apply border border-gray-300 rounded;
}

.select2-results__group {
    @apply text-lg font-bold text-gray-900;
}



.select {

}

.short-text {
    @apply relative flex border-[1px] rounded-xl border-gray-300 h-12 w-72 p-3
}

.long-text {
    @apply border-[1px] rounded-xl border-gray-300 h-52 w-96 items-center justify-center overflow-visible p-3
}

.select-multiple {

}

.labels {

}



.primary-button {
    @apply text-white relative font-semibold flex rounded-2xl h-12 w-48 third-color flex-col justify-center items-center cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out
}

.secondary-button {

}



.tooltip {

}



.main-font {

}



:root {
    --background-color: #F0F0F0;
    --pimary-color: #0060A6;
    --secondary-color: #AB2B6E;
    --hyperlink: #4E87DD;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #adadad;
    outline: 1px solid #adadad;
    border-radius: 0 0 15px 15px;
}

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: var(--background-color);
}
