:root {
    --background-color: #f8f8f8;
    --pimary-color: #0060A6;
    --secondary-color: #AB2B6E;
    --hyperlink: #4E87DD;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #adadad;
    outline: 1px solid #adadad;
    border-radius: 0 0 15px 15px;
}

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: var(--background-color);
}

.login-wrapper {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 50px;
    height: 80vh;
    border-radius: 30px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30vw;
    gap: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.lec-logo{
    width: 80%;
    height: 10%;
    background-color: gray;
}



.login-wrapper .back {
    align-self: flex-start;
    color: var(--hyperlink);
}
