body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
}

.login-wrapper {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 50px;
    height: 80vh;
    border-radius: 30px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30vw;
    gap: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.lec-logo{
    width: 80%;
    height: 10%;
    background-color: gray;
}



.login-wrapper .back {
    align-self: flex-start;
    color: var(--hyperlink);
}
