ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-family: Arial;
}

li a:hover {
  background-color: midnightblue;
}