{% extends "base.html" %}

{% block content %}
<div class="relative flex w-screen h-screen max-w-screen flex-col">
    <div class="relative flex flex-row h-full w-full">
        <div class="relative flex h-full w-80 justify-center m-0 items-center border-r-[2px] border-gray-200 overflow-auto">
            <ul class="relative flex flex-col ml-2 ustify-start w-full h-full bg-gray-50 divide-y-2 divide-gray-200">
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
                <li class="relative flex flex-col w-full h-20 bg-gray-50  space-y-1">
                    <h1 class="relative pt-3 flex text-xl font-bold">Message Header</h1>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-base">From: </p>
                        <p class="relative flex text-base">Sender</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="relative flex w-full h-full justify-center items-center m-5">
            <div class="relative flex w-full h-full border-[2px] border-gray-200">
                <div class="realtive flex w-full h-full m-14 flex-col space-y-3">
                    <div class="relative flex flex-row w-full justify-between">
                        <h1 class="relative flex text-3xl font-bold">
                            Header Goes Here
                        </h1>
                        <div class="relative flex">
                            icons here
                        </div>
                    </div>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-xl">From: </p>
                        <p class="relative flex text-xl">Sender</p>
                    </div>
                    <div class="relative flex flex-row space-x-2">
                        <p class="relative flex text-xl">To: </p>
                        <p class="relative flex text-xl">Receiver</p>
                    </div>
                    <p class="relative flex pt-10 ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
