{% extends "base.html" %}
{% block title %}Example Page{% endblock %}
{% block content %}




<div class="h-screen pb-6">


    <div class="flex flex-row flex justify-evenly  h-full">
  <!-- ... -->


       
        {% comment %} <div class="flex flex-col min-w-[50%]  h-full">

            <div class = "flex flex-col-reverse h-48">
                 <div class = "p-2 mb-4 rounded-md  border-2 border-gray-400 bg-[#F3F3F3] hover:bg-[#cacaca] h-16">


                    <span class = "text-2xl text-black h-fit mt-3 ">Announcements</span>


                </div>
             </div> {% endcomment %}



        <table class="relative mt-5 flex rounded-lg h-[75%] w-[50%] bg-gray-200 flex-col items-center space-y-3">
            <thead class="relative rounded-t-lg flex flex-row bg-[#0066B0] h-16 text-white w-full items-center pr-20">
                <tr class="flex-row relative flex items-center justify-around w-full space-x-5 whitespace-nowrap">
                    <th class="relative flex font-normal text-2xl">Edit Profile</th>
                    
                </tr>
            </thead>
            <tbody class="relative flex w-full flex-col items-center">
               


                <tr class = "relative flex w-[97%] mt-[2.5%] flex-row flex-row items-center justify-around space-x-10 rounded-3xl" >

                    <td>

                    </td>

                    <td class = "w-full rounded-3xl">
                        {% comment %} <input type="text" id="large-input" class = "w-[100%]  space-x-10  h-16 rounded-3xl bg-gray-300"> {% endcomment %}


                        
                            <div class="mb-6 w-full items-center rounded-3xl">
                                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
                                <input type="text"  value="John Doe" class="w-full p-4 text-gray-900 rounded-3xl bg-gray-50 sm:text-md">
                            </div>
                      

                    </td>
                    
                </tr>



                <tr class = "relative flex w-[97%] flex-row flex-row items-center justify-around space-x-10 rounded-3xl" >

                    <td>

                    </td>

                    <td class = "w-full rounded-3xl">
                        {% comment %} <input type="text" id="large-input" class = "w-[100%]  space-x-10  h-16 rounded-3xl bg-gray-300"> {% endcomment %}


                        
                            <div class="mb-6 w-full items-center rounded-3xl">
                                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Home Phone</label>
                                <input type="text"  value="560-329-3376" class="w-full p-4 text-gray-900 rounded-3xl bg-gray-50 sm:text-md">
                            </div>
                      

                    </td>
                    
                </tr>

                <tr class = "relative flex w-[97%] flex-row flex-row items-center justify-around space-x-10 rounded-3xl" >

                    <td>

                    </td>

                    <td class = "w-full rounded-3xl">
                        {% comment %} <input type="text" id="large-input" class = "w-[100%]  space-x-10  h-16 rounded-3xl bg-gray-300"> {% endcomment %}


                        
                            <div class="mb-6 w-full items-center rounded-3xl">
                                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Cell Phone</label>
                                <input type="text"  value="560-239-8019" class="w-full p-4 text-gray-900 rounded-3xl bg-gray-50 sm:text-md">
                            </div>
                      

                    </td>
                    
                </tr>


                <tr class = "relative flex w-[90%] mt-[2%] flex-row flex-row items-start space-x-10 rounded-3xl" >

                    <td>
                        <a class="relative flex truncate whitespace-nowrap text-blue-400 cursor-pointer hover:text-blue-500 hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Manage Children</a>
                    </td>

                </tr>


                <tr class = "relative flex w-[90%] mt-[18%] flex-row flex-row items-start space-x-10 rounded-3xl" >

                    <td>
                        <button class="bg-[#0066B0] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Save
                          </button>
                    </td>

                </tr>



            </tbody>
        </table>


        </div>








    </div>



</div>






{% endblock %}