<!--An simple base template you can use as reference-->

{% load static %} <!-- Lets you add CSS -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Lafayette Empowerment Center</title>

    <!--If you're using a CDN for e.g. bootstrap, you can just link it in normally without the "static" stuff-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- The href resolves to static/example_base.css. It won't work if you just try to specify the path normally (for some reason).
    If you want to add Javascript, it should also go in the static folder. -->

</head>
<body>
<!--Stuff here will go before the content block of child templates. Use for e.g. navbars-->
<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6 ">


  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto ">
    <div class="text-sm lg:flex-grow">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-grey mr-4">
        Docs
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-grey mr-4">
        Examples
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-grey">
        Blog
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-white-500 hover:bg-white mt-4 lg:mt-0">Download</a>
    </div>
  </div>
</nav>








<br>
{% block content %}{% endblock %}
<!--Stuff here will go after the content block of child templates. Use for e.g. footers-->

<!--You can add more blocks as well, these are just examples-->
</body>
</html>