{#{% extends "base.html" %}#}
{% load static %}

{% block extraheaders %}
<link rel="stylesheet" href='{% static "login.css"%}?{% now "U" %}' />
{% endblock extraheaders %}
{% block content %}

<body>
<a class="lec-logo"><img src="https://blueprintboulder.org/nonprofit_logos/lafayette_logo.png"></a>
    <div class="login-wrapper">
        <div class="login">
            <back href="/create_or_login">< Back</back>
            <h2>Log In</h2>
            <form>
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="password" id="password" name="password" placeholder="Password">
                <input type="submit" value="Submit" class="btn">
            </form>
            <h5>or</h5>
            <button>Sign in with Google</button>
        </div>
    </div>
</body>
{% endblock content %}
