{% load static %}

{% block extraheaders %}
<link rel="stylesheet" href='{% static "login.css"%}?{% now "U" %}' />
{% endblock extraheaders %}
{% block content %}

<body>
<a class="lec-logo"><img src="https://blueprintboulder.org/nonprofit_logos/lafayette_logo.png"></a>
    <div class="login-wrapper">
        <button class="button button1">Log In</button>
        <button class="button button2">Create Account</button>
        <a href="/create_or_login">Need help? Click here to contact us.</a>
    </div>
</body>

{% endblock content %}