{% extends "base.html" %}
{% load static %}

{% block extraheaders %}
<link rel="stylesheet" href='{% static "login.css"%}?{% now "U" %}' />
{% endblock extraheaders %}
{% block content %}
<!--
<div class="mt-[5vh] flex flex-col items-center">
    <img src="{% static "LEC_logo.png" %}" class="w-[30vw]">

    <div class="bg-white w-full px-[10%] pt-[10%] pb-[5%] rounded-2xl">

        <div class="py-4 bg-[#0060A6] text-white text-center rounded-2xl cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">
            <h2 class="text-3xl">Parent Log In</h2>
        </div>
        <div class="mt-8 py-4 bg-[#AB2B6E] text-white text-center rounded-2xl cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">
            <h2 class="text-3xl">Admin Log In</h2>
        </div>

        <div class="mt-28 py-4 bg-[#287FBE] text-white text-center rounded-2xl cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">
            <h2 class="text-3xl">Create Account</h2>
        </div>

        <div class="text-center mt-8 cursor-pointer">
            <p class="text-[#4E87DD] text-lg">Need help? Click here to contact us.</p>
        </div>
    </div>
</div>
-->
<div class="login-wrapper">
    <a class="back">Back</a>
    <a class="lec-logo"><i>Test-logo/i></a>
    <div class="login">
        <h2>Log In</h2>
        <form>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Submit" class="btn">
        </form>
        <h5>or</h5>
        <button>Sign in with Google</button>
    </div>
</div>

{% endblock content %}
