<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
    <link rel="stylesheet" type="text/css" href="/static/nav_bar_style.css">
</head>
<body>
    <ul class="nav">
        <!-- one nav bar but depending on what user you are you will see different links -->
        <!-- links will determine who sees what -->
        <!-- admin view -->
        <li><a href="#">Programs</a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Community Contacts</a></li>
        <li><a href="#">Donors</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Admin Requests</a></li>
        <!-- parent view -->
        <li><a href="#">Home</a></li>
        <li><a href="#">Calender</a></li>
        <li><a href="#">Announcements</a></li>
        <li><a href="#">Manage Children</a></li>
        <li><a href="#">Programs</a></li> <!-- this link may be the only one shared by admin and parents -->
    </ul>
</body>
</html>