{% extends "base.html" %}

{% block content %}
<div class="relative flex w-screen h-screen max-w-screen flex-col">
    <div class="relative flex flex-row h-full w-full">
        <div class="relative flex h-full w-1/5 justify-center items-center bg-gray-200">
            <div class="relative flex w-[82%] h-[90%]">
                <div class="relative flex flex-col w-full bg-gray-200 overflow-visible space-y-5">
                    <div class="relative flex truncate whitespace-nowrap  cursor-pointer hover:bg-gray-200 hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">
                        <a class="relative flex font-semibold text-black hover:bg-gray-200 bg-gray-200  ">This is a selected program element</a>
                    </div>
                    <div class="relative flex truncate whitespace-nowrap cursor-pointer hover:bg-gray-200 hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">
                        <a class="relative flex  text-black hover:bg-gray-200 bg-gray-200">This is a non-selected program element</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative flex flex-row flex-wrap w-full m-5">
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out" href="./view_program">View More</a>
                </div>
            </div>
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">View More</a>
                </div>
            </div>
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">View More</a>
                </div>
            </div>
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">View More</a>
                </div>
            </div>
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">View More</a>
                </div>
            </div>
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">View More</a>
                </div>
            </div>
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">View More</a>
                </div>
            </div>
            <div class="flex relative h-52 w-60 rounded-2xl flex-col bg-black mx-3 my-3">
                <!--<img class="bg-blue-900 rounded-2xl w-full h-full absolute full object-cover" src="./test.png"/>-->
                <div class="flex relative h-3/5 my-4 mx-5 flex-row justify-end">
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit</a>
                </div>
                <div class="flex relative h-2/5 flex-col my-5 mx-5">
                    <h1 class="text-white text-xl font-semibold">Program Name</h1>
                    <a class="text-white text-lg underline cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}